<div class="w-full h-full flex flex-col items-center justify-center">
    <mat-card [routerLink]="'/items'">
        <mat-card-header>
            <mat-card-title>
                RelicQuery
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="w-full flex flex-col justify-start items-center">
                <img src="images/landing.png" alt="logo">
                <span>Rad Cool Loading Screen!</span>
                <button mat-raised-button class="w-full my-5">Browse Models</button>
            </div>
            
        </mat-card-content>
    </mat-card>
</div>